// Global variables here
$background-color: #D4D6E4;
$info-background: #151950;
$react-color: #53d2fa;
$link-color: #71A6FF;
$white: #FFFFFF;

$tiger-team: #FF6358;
$lemon-team: #FFD246;
$organic-team: #55AB1D;
$ocean-team: #28B4C8;

// Theme variables here
$base-theme:Default;
$skin-name:optml-default-black;
$swatch-name:Default Black;
$border-radius: 2px;
$accent: #ff6358;
$info: #3e80ed;
$success: #5ec232;
$warning: #fdce3e;
$error: #d51923;
$text-color: #ffffff;
$bg-color: #333;
$base-text: #f6f6f6;
$base-bg: #444;
$hovered-text: #ffffff;
$hovered-bg: #555555;
$selected-text: #ffffff;
$selected-bg: #ff6358;
$series-a: #ff6358;
$series-b: #ffd246;
$series-c: #78d237;
$series-d: #28b4c8;
$series-e: #2d73f5;
$series-f: #aa46be;





$accent: #1c7cd5;
$primary: #007BFF;

// typography
$roboto: "Roboto", Helvetica, Arial, sans-serif;
$ubuntu: "Ubuntu", sans-serif;

$font-weight-200: 200;

// colors
$white: #fff;
$white-50: rgba(255, 255, 255, 0.5);
$text-base: #373a3c;
$text-light: #55595C;
$border-base: #ddd;
$active-state-base: #1c7cd5;
$hover-bg: #e6e6e6;
$negative-value: #d9534f;
$positive-value: #5cb85c;
$body-base-bg: rgba(236, 238, 239, 0.5);

// margins
$margin-sm: 4px;

// fonts
$font-size-default: 16px;

// header
$header-height: 140px;
$header-title-padding: 0.5rem;
$profile-image-width: 58px;
$profile-image-height: 58px;
$profile-image-margin-top: 2rem;

// footer
$footer-padding: 10px;
$footer-height: 43px;
$footer-font-size: $font-size-default;
$progress-logo-height: 20px;
$progress-logo-width: 100px;

// dropdownlist
$dropdownlist-font-size: $font-size-default;
$dropdownlist-item-selected-bg: #e9ecef;
$dropdownlist-item-selected-text: $active-state-base;

$dropownlist-add-new-padding: 8px;
$dropownlist-add-new-width: 125px;
$dropownlist-add-new-height: 40px;

// grid
$grid-header-subtitle: 13px;
$grid-row-selection-bg: #007bff;
$grid-cell-positive-color: $positive-value;
$grid-cell-negative-color: $negative-value;
$grid-sorting-icon-margin: $margin-sm;
$grid-sorting-icon-right-position: 20px;

// buttons
$nav-button-width: 150px;
$nav-button-active-bg: $active-state-base;

// badge
$badge-padding: 10px;
$badge-height: 22px;

// heatmap
$heatmap-base-bg: $body-base-bg;
